<html>
  <head>
    <title>Velkyn Sol</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body ng-app="velkyn" >
    
    <page-header></page-header>

    <section ui-view >
      <!-- UI Router Content -->
    </section>
    
    <script type="text/javascript" src="scripts/vendor.min.js" ></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="scripts/app.min.js" ></script>
  </body>
</html>